.advantages {
  margin-top: 100px;
  h2{
    margin-bottom: 50px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__row__col {
    text-align: center;
    margin: 5px;
    img{
      width: 80px;
      height: 80px;
      margin-bottom: 35px;
    }
  }
  &__row__col__text {
    font-size: 14px;
    line-height: 2;
    color: $c-text;
  }
}