.contact__one {
  margin-top: 100px;
  margin-bottom: 100px;
  &__text {
    padding: 50px 68px;
    background: url("../img/bas.png") 100% 80% no-repeat, url("../img/bg_contact.png") center/cover no-repeat;
    font-size: 28px;
    color: $c-text;
    line-height: 2;
  }
  &__tel {
    p{
      font-size: 36px;
      margin-bottom: 50px;
    }
    &__number{
      font-size: 48px;
      color: $c-green;
      border-bottom: 5px solid;
    }
    .model-btn{
      background: $c-green;
      color: #fff;
      font-size: 36px;
      padding: 8px 133px;
      border-radius: 10px;
      text-align: center;
      transition: all .5s;
      &:hover{
        background: lighten($c-green,10%);
      }
    }
  }
}
