<div class="popup" id="callback-popup">
    <div class="popup__inner text-white">
        <button class="popup__close">✕</button>
        <div class="popup__title">оставить заявку</div>
        <form action="" class="form js-callback-form">
            <div class="form__field-wrap">
                <input class="text-center js-required" name="name" type="text" placeholder="Представьтесь пожалуйста">
            </div>
            <div class="form__field-wrap">
                <input class="text-center js-required-numeric" name="phone" type="tel" placeholder="Контактный телефон">
            </div>
            <div class="form__field-wrap">
                <input class="text-center js-required-email" name="mail" type="email" placeholder="Ваш e-mail">
            </div>
        
            <div class="form__bottom">
                <div class="agreement">
                    <label>
                        <input type="checkbox" class="agreement__checkbox" checked>
                        <span class="agreement__checkbox-view"></span>
                    </label>
                    <div>Я даю согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ</div>
                </div>
                <button class="btn btn--red">Отправить</button>
            </div>
        </form>
    </div>
</div>